Server/Addons/tm_fawry_gateway/api/ApplicationBusinessFacadeService_schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema version="1.0" targetNamespace="http://ejb.gateway.ebpp.fawryis.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ejb.gateway.ebpp.fawryis.com/" xmlns:ns1="http://www.fawry-eg.com/ebpp/IFXMessages/">
  <xs:import namespace="http://www.fawry-eg.com/ebpp/IFXMessages/" schemaLocation="ApplicationBusinessFacadeService_schema1.xsd"/>
  <xs:element name="process" type="tns:process"/>
  <xs:element name="processResponse" type="tns:processResponse"/>
  <xs:complexType name="processResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:FAWRYType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="process">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:FAWRYType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>