Server/Addons/tm_khales_gateway/api/BillPaymentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BillPaymentService" targetNamespace="urn:BillPaymentService/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="urn:BillPaymentService/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:BillPaymentService/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <schema targetNamespace="urn:BillPaymentService/types" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:BillPaymentService/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
         <complexType name="calculateCommission">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="Request">
            <sequence>
               <element name="message" nillable="true" type="string"/>
               <element name="senderID" nillable="true" type="string"/>
               <element name="signature" nillable="true" type="string"/>
            </sequence>
         </complexType>
         <complexType name="calculateCommissionResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
         <complexType name="Response">
            <sequence>
               <element name="message" nillable="true" type="string"/>
               <element name="receiverID" nillable="true" type="string"/>
               <element name="signature" nillable="true" type="string"/>
            </sequence>
         </complexType>
         <complexType name="confirmPayments">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="confirmPaymentsResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
		 <complexType name="pmtInquriyStatus">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="pmtInquriyStatusResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
         <complexType name="enquireBills">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="getBillers">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="getBillersResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
         <complexType name="CancelPmt">
            <sequence>
               <element name="Request_1" nillable="true" type="tns:Request"/>
            </sequence>
         </complexType>
         <complexType name="CancelPmtResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
         <complexType name="enquireBillsResponse">
            <sequence>
               <element name="result" nillable="true" type="tns:Response"/>
            </sequence>
         </complexType>
         <element name="calculateCommission" type="tns:calculateCommission"/>
         <element name="calculateCommissionResponse" type="tns:calculateCommissionResponse"/>
         <element name="confirmPayments" type="tns:confirmPayments"/>
         <element name="confirmPaymentsResponse" type="tns:confirmPaymentsResponse"/>
          <element name="pmtInquriyStatus" type="tns:pmtInquriyStatus"/>
         <element name="pmtInquriyStatusResponse" type="tns:pmtInquriyStatusResponse"/>
        <element name="enquireBills" type="tns:enquireBills"/>
         <element name="enquireBillsResponse" type="tns:enquireBillsResponse"/>
         <element name="getBillers" type="tns:getBillers"/>
         <element name="getBillersResponse" type="tns:getBillersResponse"/>
         <element name="CancelPmt" type="tns:CancelPmt"/>
         <element name="CancelPmtResponse" type="tns:CancelPmtResponse"/>
      </schema>
  </types>
  <message name="BillPaymentServiceSEI_confirmPayments">
    <part element="ns2:confirmPayments" name="parameters">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_getBillersResponse">
    <part element="ns2:getBillersResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_calculateCommissionResponse">
    <part element="ns2:calculateCommissionResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_enquireBills">
    <part element="ns2:enquireBills" name="parameters">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_CancelPmtResponse">
    <part element="ns2:CancelPmtResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_confirmPaymentsResponse">
    <part element="ns2:confirmPaymentsResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_enquireBillsResponse">
    <part element="ns2:enquireBillsResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_calculateCommission">
    <part element="ns2:calculateCommission" name="parameters">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_CancelPmt">
    <part element="ns2:CancelPmt" name="parameters">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_pmtInquriyStatusResponse">
    <part element="ns2:pmtInquriyStatusResponse" name="result">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_pmtInquriyStatus">
    <part element="ns2:pmtInquriyStatus" name="parameters">
    </part>
  </message>
  <message name="BillPaymentServiceSEI_getBillers">
    <part element="ns2:getBillers" name="parameters">
    </part>
  </message>
  <portType name="BillPaymentServiceSEI">
    <operation name="calculateCommission">
      <input message="tns:BillPaymentServiceSEI_calculateCommission">
    </input>
      <output message="tns:BillPaymentServiceSEI_calculateCommissionResponse">
    </output>
    </operation>
    <operation name="confirmPayments">
      <input message="tns:BillPaymentServiceSEI_confirmPayments">
    </input>
      <output message="tns:BillPaymentServiceSEI_confirmPaymentsResponse">
    </output>
    </operation>
    <operation name="enquireBills">
      <input message="tns:BillPaymentServiceSEI_enquireBills">
    </input>
      <output message="tns:BillPaymentServiceSEI_enquireBillsResponse">
    </output>
    </operation>
    <operation name="getBillers">
      <input message="tns:BillPaymentServiceSEI_getBillers">
    </input>
      <output message="tns:BillPaymentServiceSEI_getBillersResponse">
    </output>
    </operation>
    <operation name="pmtInquriyStatus">
      <input message="tns:BillPaymentServiceSEI_pmtInquriyStatus">
    </input>
      <output message="tns:BillPaymentServiceSEI_pmtInquriyStatusResponse">
    </output>
    </operation>
    <operation name="CancelPmt">
      <input message="tns:BillPaymentServiceSEI_CancelPmt">
    </input>
      <output message="tns:BillPaymentServiceSEI_CancelPmtResponse">
    </output>
    </operation>
  </portType>
  <binding name="BillPaymentServiceSEIBinding" type="tns:BillPaymentServiceSEI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="calculateCommission">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="confirmPayments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="enquireBills">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBillers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelPmt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pmtInquriyStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BillPaymentService">
    <port binding="tns:BillPaymentServiceSEIBinding" name="BillPaymentServiceSEIPort">
      <soap:address location="https://onlinepayments.efinance.com.eg:9210/tibco/asg/smartvista"/>
    </port>
  </service>
</definitions>